* {
  margin: 0;
  padding: 0;
}

.headline {
  color: #E1624F;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

div {
  padding: 88px 80px;
}

#busan {
  width: 1120px;
  height: 729px;
}