* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Open Sans", sans-serif;
  --background-default-color:#F5F4F0;
  --border-primary-color:#D9D9D9;
  --text-primary-color:#1B1B1B;
  --text-secondary-color:#333333;
  --text-tertiary-color:#696969;
  --text-headline-color:#E1624F;
  --accent-blue-color:#0C51A7;
  --accet-organe-color:#E95E10;
  --accent-pink-color:#E5245E;
  --accent-purple-color:#591B98;
  --text-xl: bold 36px var(--font-family);
  --text-lg: bold 32px var(--font-family);
  --text-md: bold 28px var(--font-family);
  --text-hd: bold 16px var(--font-family)
  --text: 16px var(--font-family);
  --text-it: italic 16px var(--font-family)
}

